.logo-container {
    position: absolute;
    top: 40px; left: 40px;
    padding: 30px 50px 75px;
    display: flex;
    // align-items: flex-start;
    align-items: center;

    .logo {
        height: 100px;
        width: 70px;
        // padding: 25px;
    }
    
}

